/* Responsive layout */
*{
    box-sizing: border-box;
}

/*page layout*/
.page-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main-content{
    width: 75%;
}

.side-bar{
    width: 20%;
    order: -1;
}

/*content layout*/
.header{
    width: 100%;
    height: auto;
}

.featured-work, .services{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

/*featured work layout*/
.header{
    width: 100%;
    margin-bottom: 0.1em;
}

.feature-1{
    width: 33%;
    height: auto;
}

.feature-2{
    width: 33%;
    height: auto;
}

.feature-3{
    width: 33%;
    height: auto;
}

a{
    display: block;
}

/*services layout*/
.services{
    flex-direction: column;
}

/*repsonsive images*/
img{
    position: relative;
    max-width: 100%;
    height: auto;
}

.logo{
    float: left;
    max-height: 50px;
    position: relative;
    bottom: -7px;
}

.backgroung-image{
    background-size: contain; 
}

.animal-trading-cards, .food-order-system, .pixel-art-maker{
    height: 250px;
}

/*text*/
.name{
    float: right;
    margin: 0.1em;
}

.description{
   clear: both;
   float: right;
   margin-top: 0.1em;
   margin-bottom: 0.3em;
}

hr{
    display: block;
    clear: both;
}

/*device reponsivenes*/ 

/* Services side-bar */
/* Tablet - 1st 2 featured items on same row*/
/* @media screen and (min-width:650px) and (max-width:900px){
    .main-content {
        width: 100%;
        order: -1;
    }
    
    .side-bar{
        width: 100%;
    }

    .feature-3{
        width: 100%;
    }

    .pixel-art-maker{
        width: 100%;
        height: auto;
    }

    .feature-1, .feature-2{
        width: 50%;
        height: auto;
    }

    .animal-trading-cards, .food-order-system{
        height: 300px;
    }
} */

/* Mobile - each item/image on separate row*/
/* @media screen and (max-width:650px)
{
    .main-content {
        width: 100%;
        order: -1;
    }
    
    .side-bar{
        width: 100%;
    }

    .feature-1, .feature-2, .feature-3{
        width: 100%;
    }

    .animal-trading-cards, .food-order-system, .pixel-art-maker{
        height: auto;
    }
} */
